.compare-panel-wrapper {
    position: fixed;
    top: 60px;
    right: 0;
    left: auto;
    height: calc(100% - 60px);


    &.expanded-view {
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(169, 169, 169, 0.5);

        .compare-panel {
            height: calc(100% - 60px);
            width: calc(100% - 180px);
            padding: 16px 0 0 0;

            .header-wrapper {
                padding-left: 16px;
                padding-right: 16px;
            }

            .iframe-wrapper {
                border-radius: 0;
                flex-grow: 1;

                * {
                    border-radius: 0;
                    &.iframe-loader {
                        z-index: 1;
                        background-color: #F7F9FC;
                        ::ng-deep {
                            .progress-wrapper {
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .compare-panel {
        position: relative;
        z-index: 100;
        height: 100%;
        border: 1px solid #ECECEC;
        box-shadow: -4px 0px 8px 0px #2828280F;
        background-color: #FFFFFF;
        transition: right 3s ease-in-out;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        box-sizing: border-box;

        .header-wrapper {
            width: 100%;
            box-sizing: border-box;
            gap: 16px;
            display: flex;
            flex-direction: column;
        }

        .compare-panel-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .hr {
            width: 100%;
            height: 1px;
            background-color: #F4F4F4;
        }

        .compared-files {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 12px;
            white-space: nowrap;

            .label {
                font-size: 14px;
                font-weight: 600;
            }

            .file-info {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 8px 16px;
                border: 1px solid #F4F4F4;
                border-radius: 6px;
                box-sizing: border-box;
                height: 38px;
                background: #FFFFFF;
                color: #7A818D;
                font-size: 14px;
                cursor: pointer;
                overflow: hidden;

                &.active-tab {
                    border-color: #0D41F9;
                }

                .file-name {
                    overflow: hidden;
                    text-wrap: nowrap;
                }

                .color {
                    min-width: 6px;
                    max-width: 6px;
                    height: 6px;
                    border-radius: 3px;

                    &.color-red {
                        background-color: #E86767;
                    }

                    &.color-blue {
                        background-color: #0E3BD8;
                    }
                }
            }
        }

        .iframe-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            border: 1px solid #F4F4F4;
            border-radius: 6px;
            box-sizing: border-box;

            &.full-screen {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100;
                border: none;
                border-radius: 0;
                *{
                    border-radius: 0;
                }
            }

            * {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 6px;
                border: transparent;

                &.iframe-loader {
                    z-index: 1;
                    background-color: #F7F9FC;
                    ::ng-deep {
                        .progress-wrapper {
                            border-radius: 16px;
                        }
                    }
                }
            }
        }

        .footer-wrapper {
            width: 100%;
            display: flex;
            flex-grow: 1;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
}

.divider {
    position: absolute;
    top:0;
    left: 0;
    background-color: transparent;
    float: left;
    height: 100%;
    width: 3px;
    cursor: ew-resize;
    opacity: .6;
    border-left: 1px solid #F4F4F4;
    z-index: 9999;

    &.active {
        width: 100%;
    }

    &:hover {
        opacity: 1;
        border-left-color: #0D41F9;
    }
}