.content-wrapper {
    .toolbar {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        .search {
            display: flex;
            align-items: center;
            border: 1px solid #F4F4F4;
            box-shadow: 0px 0px 7px 2px #C6C6C614;
            border-radius: 6px;
            height: 36px;
            width: 100%;
            gap: 8px;
            padding: 12px;
            box-sizing: border-box;
            width: 320px;

            input[type=text] {
                border: none;
                flex-grow: 1;
                font-size: 14px;
                font-weight: 400;

                &::placeholder {
                    color: #BCC1CB;
                }
                &:focus-visible {
                    outline: none;
                }
            }
        }

        .filter {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    .grid {
        margin-top: 16px;
        box-sizing: border-box;

        .grid-body {
            overflow-y: auto;
            height: calc(100vh - 305px);
        }

        .row {
            display: grid;
            grid-template-columns: 50px 34px repeat(2, 1fr) 140px 100px 200px 64px;
            border-bottom: 1px solid #ECECEC;
            box-sizing: border-box;

            &.background {
                background-color: #FBFCFE;
            }

            &.row-expandable {
                &:not(:first-of-type) {
                    padding-top: 12px;
                }
            }

            .th {
                height: 34px;
                font-size: 12px;
                color: #7A818D;
                display: flex;
                align-items: center;
                gap: 16px;
                padding: 0 16px;
                box-sizing: border-box;

                &.center {
                    justify-content: center;
                }
            }

            .td {
                height: 54px;
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
                gap: 16px;
                padding: 0 16px;
                box-sizing: border-box;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &.center {
                    justify-content: center;
                }

                &.expand {
                    background-color: #F7F9FC;
                    cursor: pointer;

                    svg {
                        width: 20px;
                        height: 20px;
                    }

                    &.expanded {
                        svg {
                            transform: rotate(90deg);
                        }
                    }
                }

                &.check {
                    justify-content: center;
                }

                &.name {
                    cursor: pointer;

                    &:hover {
                        color: #0D41F9;
                    }
                }

                &.actions {
                    padding: 0;
                    justify-content: flex-end;

                    svg {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .sub-grid-wrapper {
        height: 100%;
        grid-column: 1/9;
        border-top: 1px solid #ECECEC;

        &.closed {
            display: none;
        }

        .sub-grid {
            margin-top: 16px;
            box-sizing: border-box;

            .row {
                display: grid;
                grid-template-columns: 50px 150px 1fr 200px 64px;
                box-sizing: border-box;

                &:last-of-type {
                    border-bottom: none;
                }

                .th {
                    height: 34px;
                    font-size: 12px;
                    color: #7A818D;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    padding: 0 16px;
                    box-sizing: border-box;
                }

                .td {
                    height: 54px;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;
                    gap: 16px;
                    padding: 0 16px;
                    box-sizing: border-box;

                    &.check {
                        background-color: #F7F9FC;
                        justify-content: center;
                    }

                    &.actions {
                        padding: 0;
                        justify-content: flex-end;

                        svg {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .status {
        padding: 4px 10px;
        border-radius: 20px;
        font-size: 14px;
        white-space: nowrap;

        &.completed {
            background-color: #D1F5DD;
            color: #208141;
        }

        &.in-progress {
            background-color: #FBDDBF;
            color: #C27A31;
        }
    }
}

.row-dropdown-options {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;

    li {
        padding: 6px 12px;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
            background-color: #F3F5FA;
        }
    }
}