:host {
    user-select: none;
    display: flex;
    gap: 8px;
    justify-content: center;
    width: fit-content;

    svg {
        cursor: pointer;
        &.disabled {
            opacity: .3;
            cursor: not-allowed;
        }
    }

    label {
        color: #333C4E;
        font-weight: 400;
        font-size: 12px;
        cursor: pointer;
    }
}