<div class="co-modal-dialog-wrapper">
    <div class="co-modal-dialog-container">
        <div class="co-modal-dialog-header">
            <svg (click)="onCloseClick()" class="close-button" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 5L5 15" stroke="#A4ABAE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5 5L15 15" stroke="#A4ABAE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="co-modal-dialog-body">
            <ng-content></ng-content>
        </div>
    </div>
</div>