/* You can add global styles to this file, and also import other style files */
@import "assets/scss/fonts.scss";
@import "assets/scss/config.scss";
@import '~@angular/cdk/overlay-prebuilt.css';

body,
html {
    margin: 0;
    padding: 0;
    background-color: $body-background-color;
    height: 100%;
    overflow: hidden;
}

/* button */
.btn {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;

    &:disabled {
        cursor: not-allowed;
        opacity: .5;
    }

    &.btn-primary {
        border-radius: 20px;
        padding: 8px 20px;
        background-color: #FFFFFF;
        border: 1px solid $button-primary-color;
        color: $button-primary-color;

        &.btn-inverse {
            color: #FFFFFF;
            background-color: $button-primary-color;
        }
    }
}

/* nav tabs */
.nav-tabs {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 42px;
    width: 100%;
    border-bottom: 1px solid #F4F4F4;
    box-sizing: border-box;

    li {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 30px;
        box-sizing: border-box;
        color: $button-primary-color;
        position: relative;

        &.active {
            font-weight: 700;

            &::after {
                content: '';
                position: absolute;
                display: block;
                height: 1px;
                width: 100%;
                background-color: $button-primary-color;
                bottom: -1px;
            }
        }
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}