
@import "../../../assets/scss/config.scss";

nav {
    position: relative;
    color: $top-nav-menu-color;
    background-color: $top-nav-menu-background-color;
    height: 60px;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;

    .logo-wrapper {
        font-family: FontLogo;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    ul.menu {
        position: absolute;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        gap: 48px;

        li {
            height: 100%;
            font-size: 14px;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;

            &.active {
                font-weight: 700;

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: $top-nav-menu-color;
                    bottom: 4px;
                }
            }
        }
    }

    .profile-wrapper {
        display: flex;
        flex-direction: column;

        .profile-selected {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 12px;

            .user-initials {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: $top-nav-menu-color;
                color: $top-nav-menu-background-color;
                font-size: 16px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            .user-name {
                font-size: 16px;
            }

            .arrow {
                cursor: pointer;

                &.opened {
                    transform: rotate(180deg);
                }
            }
        }

        .profile-options-container {
            position: relative;

            .profile-options-wrapper {
                z-index: 10;
                position: absolute;
                top: 6px;
                right: 0px;
                background-color: #FFFFFF;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
                padding: 12px 0;
                border-radius: 6px;
                color: #606C82;
                width: 100%;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    li {
                        padding: 6px 12px;
                        cursor: pointer;

                        &:hover {
                            background-color: #F3F5FA;
                        }
                    }
                }
            }
        }
    }
}